body {
    font-family: 'Lato';
    font-weight: 400;
    margin: 0;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQIW2NgQAXGZHAAGioAza6+Hk0AAAAASUVORK5CYII=);
    background-color: rgb(76, 80, 87);
}

.top-nav-bar {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}
.nav {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 15px;
    top: 10px;
    left: 15px;
}
.nav a:link {
    text-decoration: none;
}
.nav-back {
    display: none;
    padding-right: 20px;
    cursor: pointer;
}
.nav-search-btn {
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 15px;
    top: 10px;
    right: 15px;
}
.nav-title {
    margin: auto;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.footer {
    padding-top: 5px;
    margin-bottom: -3px;
    position: fixed;
    font-size: 11px;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1001;
}
.footer {
    text-align: center;
    color: white;
}
.content {
    display: block;
    float: left;
    margin-top: 40px;
    padding-top: 4px;
    padding-left: 4px;
    margin-bottom: 26px;
}
a:link, a:visited {
    color:  white;
}

.grid-movie-info, .movie-profile-tile {
    display: none;
}

.movie-tile {
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    border-radius: 8px;
    width: 250px;
    height: 360px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
}

.movie-underlay, .actor-underlay {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.55);
    float: left;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 8px;
}

.movie-poster, .actor-photo {
    display: inline;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.movie-btns, .actor-btns {
    opacity: 0;
}

.rt-btn .rt-meter {
    padding-left: 6px;
    vertical-align: top;
}

.rt-btn, .rt-btn:link, .add-btn, .rt-btn:link {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 4px;
    margin-right: 6px;
    font-weight: 900;
    font-size: 32px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.trailer-btn {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
}

.movie-info, .actor-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    width: 100%;
    min-height: 45px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.movie-info .movie-title, .actor-info .actor-name {
    display: block;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    left: 10px;
    top: 4px;
    padding: 8px;
    padding-bottom: 13px;
}
.movie-info .movie-more {
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    right: 5px;
    bottom: 5px;
}

.hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0;
}

.onhover {
    opacity: 1;
}

.animate {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/* ACTOR TILE */

.actor-tile {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    display: block;
    float: left;
    border-radius: 8px;
    width: 260px;
    height: 260px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
}

.actor-info .actor-twitter {
    position: absolute;
    font-size: 11px;
    font-weight: 400;
    left: 10px;
    bottom: 4px;
}

/* MOVIE PROFILE */

.movie-profile-tile {
    position: relative;
    display: inline-grid;
    overflow: hidden;
    border-radius: 8px;
    width: 500px;
    height: 800px;
    margin-right: 4px;
    margin-bottom: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.33);
}

.movie-profile-poster {
  display: inline;
  border-radius: 8px;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  height: 100%;
}
.movie-profile-details {
    position: absolute;
    display: block;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    /*background-color: rgba(0,0,0,0.7);*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,1));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,1));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,1));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,1));
}
.movie-profile-title {
  display: block;
  font-size: 38px;
  line-height: 38px;
  font-weight: 900;
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.movie-profile-synopsis {
  display:block;
  margin-top: 25px;
  margin-left: 45px;
  margin-right: 45px;
  font-size: 14px;
  max-height: 392px;
  overflow: hidden;
}
.movie-profile-tweets {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
}
.tweet-list {
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}
.tweet-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(200,200,200,0.2);
}
.tweet-left img {
  background-size: 100%;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}
.tweet-left, .tweet-right {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}
.tweet-right {
  width: 100%;
  padding-left: 15px;
}
.user-tweet {
  display: inline-block;
  padding-right: 50px;
  max-width: 350px;
}
.tweet-time {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 12px;
}

.blurred {
    -webkit-filter: blur(5px);
}
.movie-mode, .search-mode {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.youtube-player {
    display: block;
    padding-top: 130px;
    margin: auto;
    width: 800px;
    height: 400px;
}
.icon-twitter {
    display: block;
    width: 39px;
    height: 39px;
    background-image: url(../img/twitter.png);
}
.icon-play {
    display: block;
    margin: auto;
    width: 53px;
    height: 53px;
    background-image: url(../img/play.png);
}
.icon-rt {
    display: inline-block;
    margin: auto;
    width: 33px;
    height: 34px;
    background-image: url(../img/rt.png);
}
.icon-search {
    display: inline-block;
    margin: auto;
    width: 20px;
    height: 20px;
    background-image: url(../img/src.png);
}

.search-input {
    position: absolute;
    display: block;
    background-color: transparent;
    padding: 0;
    outline: 0;
    border: 0;
    color: white;
    font-size: 60px;
    font-weight: 400;
    width: 100%;
    top: 100px;
    text-align: center;
}

.movie-release {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 900;
    padding-top: 8px;
    padding-left: 12px;
}
.movie-release:before {
    content: "Release Date: ";
}
.nav-current-page {
    margin-right: 20px;
    font-weight: 400;
}

@media (max-width: 700px) {
    .grid-left, .grid-right {
    display: block !important;
    }
    .nav-title {
        font-size: 12px;
        text-align: right;
        padding-top: 13px;
        padding-right: 12px;
    }
    .youtube-player {
    width: 100%;
    height: 50%;
    padding-top: 100px;
    }
    .nav-search-btn {
    top: 10px;
    right: 105px;
    }
    .search-input {
    font-size: 38px;
    }
    .nav {
    font-size: 13px;
    padding-top: 3px;
    }
    .nav-current-page {
    display: none;
    }
}